<div id="questions">
  <span><input type="text" name="search" id="question_search" placeholder="Rechercher"></span>
  <span><img class="rubberBand animated" id="search_logo" src="/assets/loupe.png" alt="search" /></span>
</div>

<% if signed_in? %>
<div class="container" id='new_question_tab'>
  <div id="question_form_title">
    <span>Nouvelle question</span>
  </div>
  <form id="new_question">
    <input type="text", name="question[subject]" id="question_name">
    <input type="submit" id='question_submit' value="Poster">
  </form>
</div>
<% end %>

<div class="container" id="answers"></div>

