body {
  /*background-color: rgba(189, 189, 189, 0.57);*/
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

  /*background-color: rgba(51, 51, 51, 0.73);;*/
  /*background-color: rgba(51, 51, 51, 0.33);*/



  /*background-color: rgba(51, 51, 51, 1);*/
  

  /*background-color: rgba(0, 14, 29, 0.82);*/
  background-color: rgba(0, 14, 29, 0.69);
}

.container {
  /*background: rgba(255, 255, 255, 0.42); */
  background: rgba(255, 255, 255, 0.86);
  /*border-radius: 2px;*/
}

#header {
  height: 120px;
  margin-bottom: 10px;

}

#container_logo {
  float:left;
  position: absolute;
  width: 277px;
  /*background-color: rgb(75, 75, 75);*/
  /*background: rgba(255, 255, 255, 0.86);*/
  border: 1px solid white;
}


#logo {
  width: 80px;
  margin-left: 36%;
}

#connexion_tab {
  float:right;
  width: 43%;
  p {
  float: left;
  color: white;
  text-transform: uppercase;
  margin-top: 23px;    
  }
}

/***************
* Question css *
****************/

#questions {
  float:left;
  position: absolute;
  width: 26%;
  /*z-index: -1;*/
  max-height: 79%;
  overflow: auto;  

  .question_btn {
    /*position: absolute;*/
    /*left: 0;*/
    float:left;
    position:relative;
    display: block;
    width: 250px;
    /*margin-left: 20px;*/
    padding: 10px;
    
    /* GREEN */
/*    background-color: rgba(99, 150, 28, 0.76);
    border: 5px solid rgba(237, 240, 237, 0.2);
*/

    background-color: rgba(255, 255, 255, 0.86);
    border: 5px solid rgba(0, 14, 29, 0.15);
    color: rgba(0, 0, 0, 0.62);


    /*border-radius: 2px;*/
    font-family: monospace;

    /*color: rgba(0, 0, 0, 0.62);*/
    /*color:rgba(255, 255, 255, 0.93);*/
    /*color:white;*/

    /*color: #000;*/
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    transform-style: flat;
    transition: all 250ms ease-out;
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
        transition: all 250ms ease-out;
    }
  }

    .question_btn_raise {
      &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:hover {

        /* WHITE */
/*        background-color: rgba(255, 255, 255, 0.86);*/
        /*color: rgba(0, 0, 0, 0.62);*/

        background-color: rgba(99, 150, 28, 0.76);
        border: 5px solid rgba(99, 150, 28, 0);
        color: white;

        font-size: 15px;

        &:before {
          box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
          -moz-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
          -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
          -o-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);

        }
      }
    }

  .selected {
    background-color: rgba(99, 150, 28, 0.76);
    border: 5px solid rgba(237, 240, 237, 0);
    color: white;

    font-size: 15px;
  }

  .question_tab {
    text-align: center;
    margin-bottom: 12px;
    cursor:  pointer;
  }
}

/********************
* new question form *
********************/
#new_question_tab {
  width: 67%;
  margin-right: 4%;
  /*height: 400px;*/
  float:right;
  color:rgba(0, 0, 0, 0.62);
  margin-bottom: 20px;
  input[type="text"] {
    width: 72%;
    padding: 6px;
    margin: 23px;
    font-size:15px;
  }
}

#question_form_title {
  font-size:17px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
  color: white;
  background-color: rgba(81, 121, 25, 0.89);
  padding: 13px 0px 13px;
  width: 100%;
  margin-bottom: 15px;
  span {
    padding: 9px;
    margin-top: 8px;
    color: white;
  } 
}

#question_submit {
  border: 1px solid white;
  padding: 10px;
  color: white;
  background: #79AA35;
  width: 148px;
  font-size: 13px;
  &:hover {
    cursor:pointer;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -moz-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -o-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  }
}


/***************
* Answer css *
****************/

#answers {
  width: 67%;
  margin-right: 4%;
  /*height: 400px;*/
  float:right;
  color:rgba(0, 0, 0, 0.62);
}


#question_title {
  font-size:17px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
  color: white;
  margin-bottom:55px;
  background-color: rgba(81, 121, 25, 0.89);
  padding: 13px 0px 13px;
  width: 100%;
  span {
    padding: 9px;
    margin-top: 8px;
    color: white;
  }
}

.answer_tab {
  margin-left: 10px;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  span {
    font-weight: none;
    font-size: 11px;
    font-style: oblique;
  }
}

#answer_submit {
  border: 1px solid white;
  padding: 10px;
  color: white;
  background: #79AA35;
  width: 135px;
  font-size: 13px;
  &:hover {
    cursor:pointer;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -moz-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -o-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  }
}

form#new_answer {
  margin:10px;

  input[type="text"] {
    width: 75%;
    height: 27px;
    margin: 22px;
    border-radius:2px;
    font-size: 15px;
  }

  input[type="submit"] {

  }

}


/***************
*  Bouton css  *
****************/
.btn {
  float:left;
  position:relative;
  display: block;
  width: 200px;
  padding: 5px;
  
  /*background-color: rgba(75, 75, 75, 0.47);*/
  background-color: rgba(255, 255, 255, 0.86);

  border: 5px solid rgba(0, 14, 29, 0.15);


  font-family: monospace;

  color: rgba(0, 0, 0, 0.62);

  margin: 15px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  transform-style: flat;
  transition: all 250ms ease-out;
  
  &:before,
  &:after {
      content: "";
      position: absolute;
      z-index: -2;
      transition: all 250ms ease-out;
  }
}

/* Raised effect – pushes up on hover */
.btn_paper_raise {
  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    /*border: 1px solid rgba(237, 240, 237, 1);*/
    background-color: rgba(99, 150, 28, 0.76);
    /*border: 5px solid rgba(237, 240, 237, 0);*/
    color:white;
    /*color: rgba(0, 0, 0, 0.62);*/

    &:before {
      box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
      -moz-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
      -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
      -o-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);

    }
  }
}