body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: rgba(0, 14, 29, 0.69);
}

.container {
  background: rgba(255, 255, 255, 0.86);
}

#header {
  height: 120px;
  margin-bottom: 10px;

}

#container_logo {
  float:left;
  position: absolute;
  width: 277px;
  border: 1px solid white;
  border-radius: 10px;
}


#logo {
  width: 80px;
  margin-left: 36%;
}

#connexion_tab {
  float:right;
  width: 43%;
  p {
  float: left;
  color: white;
  text-transform: uppercase;
  margin-top: 23px;    
  }
}

/***************
* Question css *
****************/

#questions {
  float:left;
  position: absolute;
  width: 26%;
  max-height: 79%;
  overflow: auto;  

  .question_btn {
    float:left;
    position:relative;
    display: block;
    width: 250px;
    padding: 10px;    
    background-color: rgba(255, 255, 255, 0.86);
    border: 5px solid rgba(0, 14, 29, 0.15);
    color: rgba(0, 0, 0, 0.62);
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    transform-style: flat;
    transition: all 250ms ease-out;
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
        transition: all 250ms ease-out;
    }
  }

    .question_btn_raise {
      &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:hover {
        background-color: rgba(99, 150, 28, 0.76);
        border: 5px solid rgba(99, 150, 28, 0);
        color: white;

        font-size: 15px;
      }
    }

  .selected {
    background-color: rgba(99, 150, 28, 0.76);
    border: 5px solid rgba(237, 240, 237, 0);
    color: white;

    font-size: 15px;
  }

  .question_tab {
    text-align: center;
    margin-bottom: 12px;
    cursor:  pointer;
    border-radius:3px;
  }

  .question_tab.hidden_word {
    display:none;
  }
}

#question_search {
  border: 2px solid rgba(81, 121, 25, 0.89);
  width: 73%;
  margin-bottom: 15px;
  height: 24px;  
  font-size: 15px;
  text-align: center;
}

#search_logo {
  height: 25px;
  position: absolute;
  margin-left: 4px;
}

/********************
* new question form *
********************/
#new_question_tab {
  width: 67%;
  margin-right: 4%;
  /*height: 400px;*/
  float:right;
  color:rgba(0, 0, 0, 0.62);
  margin-bottom: 20px;
  input[type="text"] {
    width: 72%;
    padding: 6px;
    margin: 23px;
    font-size:15px;
  }
}

#question_form_title {
  font-size:17px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
  color: white;
  background-color: rgba(81, 121, 25, 0.89);
  border: 1px solid rgba(255, 255, 255, 0.86);
  padding: 13px 0px 13px;
  margin-bottom: 15px;
  span {
    padding: 9px;
    margin-top: 8px;
    color: white;
  } 
}

#question_submit {
  border: 1px solid white;
  padding: 10px;
  color: white;
  background: #79AA35;
  width: 148px;
  font-size: 13px;
  &:hover {
    cursor:pointer;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -moz-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -o-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  }
}


/***************
* Answer css *
****************/

#answers {
  width: 67%;
  margin-right: 4%;
  float:right;
  color:rgba(0, 0, 0, 0.62);
}


#question_title {
  font-size:17px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
  color: white;
  margin-bottom:55px;
  background-color: rgba(81, 121, 25, 0.89);
  padding: 13px 0px 13px;
  border: 1px solid rgba(255, 255, 255, 0.86);
  span {
    color: white;
  }
  input[type="text"] {
    font-size: 17px;
    width:50%;
    text-align: center;
  }
}

.answer_tab {
  margin-left: 10px;
  margin-bottom: 12px;
  line-height: 40px;

  /* scroll on too long answer tab */
  max-height: 355px; /* a modifier! */
  overflow-y: auto;  

  .answer_content {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;  
  }

  span {
    font-weight: none;
    font-size: 11px;
    font-style: oblique;
  }

  input[type="text"] {
    font-size: 15px;
  }
}

#answer_submit {
  border: 1px solid white;
  padding: 10px;
  color: white;
  background: #79AA35;
  width: 135px;
  font-size: 13px;
  &:hover {
    cursor:pointer;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -moz-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    -o-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  }
}

form#new_answer {
  margin:10px;

  input[type="text"] {
    width: 75%;
    height: 27px;
    margin: 22px;
    border-radius:2px;
    font-size: 15px;
  }

  input[type="submit"] {

  }

}

.edit_answer {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.delete_answer {
  cursor: pointer;
  width: 18px;
  height: 19px;
  margin-left: 5px;
}

.edit_question {
  margin: auto;
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 40px;
  margin-top: 2px;
}

.delete_question {
  cursor: pointer;
  width: 18px;
  height: 19px;  
  position: absolute;
  right: 15px;
}

#question_info {
  color: white;
  background-color: rgba(81, 121, 25, 0.89);
  padding: 5px 0px 5px;
  border: 1px solid rgba(255, 255, 255, 0.86);
  #question_view {
    margin-left: 20px;
  }
  #question_date {
    position: absolute;
    right: 20px;
  }
}

/***************
*  Bouton css  *
****************/
.btn {
  float:left;
  position:relative;
  display: block;
  width: 200px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.86);
  border: 5px solid rgba(0, 14, 29, 0.15);
  font-family: monospace;
  color: rgba(0, 0, 0, 0.62);
  margin: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  transform-style: flat;
  transition: all 250ms ease-out;
  
  &:before,
  &:after {
      content: "";
      position: absolute;
      z-index: -2;
      transition: all 250ms ease-out;
  }
}

/* Raised effect – pushes up on hover */
.btn_paper_raise {
  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    background-color: rgba(99, 150, 28, 0.76);
    color:white;

    &:before {
      box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
      -moz-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
      -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
      -o-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);

    }
  }
}